body {
	height: 100%;
  	font-family: Avantgarde, Tex Gyre Adventor, URW Gothic L, sans-serif;
}

html {
	height: 100%;
	background-image: url("circuit.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	overflow-y: scroll;
	overflow-x: hidden;
}

hr {
	display: block;
	margin-top: 10px;
	overflow: hidden;
	border-style: inset;
	border-width: 0px;
	height: 1px;
	background-color: #e0e0e0;
}

.bold {
	font-weight: bold;
	margin: 10px;
	font-size: 30px;
}

.prof {
	border-radius: 50%;
	border: 5px solid white;
	top: -50px;
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;
	position: relative;	
	z-index: 2;
}

.rounded {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 60%;
	max-width: 500px;
	position: relative; 
	padding: 15px;
	top: 20vh;
	margin:auto;
	margin-bottom: 20vh;
	background-color: white;	
	text-align: center;
	font-size: 17px;
	z-index: 1;
}

.menu {
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgba(0,0,0, 0.65);
	width: 60%;
	margin: auto;
        margin-bottom: 20vh;
	max-width: 500px;
	padding: 15px;
	align-items: center;
	z-index: 1;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
 	background-color: #f9f9f9;
 	min-width: 160px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	padding: 12px 16px;
 	z-index: 100;
	background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top {	
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 2;
}

.topnav {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;	
	background-color: #333;
}

.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
	background-color: #76A0F1;
	color: black;
}

.topnav a.active {
	color: white;
}

.content {
	text-align: center;
	background-color: #333;
	color: white;
	border-top: solid;
	border-bottom: solid;
	border-color: white;
	overflow: hidden;
        font-size: calc(8px + 1.1vw);
}

.text { 
	text-align: left;
	width: 50%;
	height: 200px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #C1C4C4;
	color: black;
	font-size: 17px;
	overflow: hidden;
}

.container {
	position: relative;
	height: 40vw;
	overflow-y: hidden;
}

.container_small {
	position: relative;
	height: 25vw;
	overflow: hidden;
}
		    	
.parallax_my_picture {
	background-image: url("myPicture.jpg");
	height: 35vw;	
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
		
.parallax_james_madison {
	background-image: url("isat.jpg");
	height: 100%;
	filter: blur(3px);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_hobbies {
	background-image: url("kayaking.jpg");
	height: 35vw;
	background-attachment: scroll;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}	

.header {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;	
	font-size: calc(1px + 1.6vw);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
}


.bio {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	top: 50%;
	font-size: calc(1px + 1.6vw);
	left: 80%;
	transform: translate(-50%, -50%);
	width: 30%;
	padding: 0px;
	text-align: center;				
}

.hobbies {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	font-size: calc(1px + 1.6vw);
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	width: 40%;
	padding: 0px;
	text-align: center;
}
